/* All the css for the top navigation on all the partials of seocentral */

.seo-central-partials-nav {

  &-wrapper {
    @apply h-auto px-[22px] flex flex-row justify-start items-center gap-x-[88px];
    /* width: calc(100% - 44px) !important; */
    width: 100%;
    background-color: #28604C;

    @media(max-width: 767px) {
      @apply !hidden;
    }
  }

  &-logo {
    width: 200px;
    height: 20px;
    background-image: url('../../icons/seo-central-text-logo.svg');
    background-size: cover;
    background-position: center;
  }

  &-links {

    &-wrapper {
      @apply w-fit h-auto list-none flex flex-row justify-start items-center;

      .seo-central-partials-nav-link {
        @apply block w-fit h-auto no-underline relative py-[22px] px-[22px];
        color: #F4FCF4;
        font-size: 14px;
        font-family: IBM Plex Sans;
        line-height: 20px;

        &-item {
          @apply m-0;
        }

        &:after {
          content: "";
          width: 0px;
          height: 2px;
          background-color: #F4FCF4; 
          border-radius: 4px;
          position: absolute;
          bottom: 16px;
          left: 50%;
          transform: translateX(-50%);
          transition: all 250ms ease;
        }
      
        &:hover {
          &:after {
            width: 62%;
          }
        }
      }
    }
  }
}

.seo-central-partials {

  &-headline {

    &-wrapper {
      @apply w-full h-auto flex justify-between items-center py-16px;
      background-color: #D7F2E8;
    }

    &-title {
      @apply w-fit h-auto !m-0 pl-[22px];
      font-size: 40px;
      font-family: Termina;
      line-height: 48px;
      color: #28604C;
    }
  }

  &-notification {
    @apply w-fit h-auto flex flex-row justify-start items-center;

    &-wrapper {
      @apply w-full h-auto max-w-[97%] bg-white px-[20px] py-12px mx-auto overflow-hidden relative my-[20px] hidden;
      border-radius: 4px;

      &.enabled {
        @apply flex justify-between items-center;
      }

      &.notify-error {

        &:before {
          background-color: var(--central-ui-red);
        }
      }

      &:before {
        content: '';
        height: 102%;
        width: 4px;
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--central-ui-blue);
        border-radius: 4px 0px 0px 4px;
      }

      &.central-blue {

        .seo-central-partials-notification-icon {
          background-color: var(--central-ui-blue);
        }

        &:before {
          background-color: var(--central-ui-blue);
        }
      }

      &.central-red {

        .seo-central-partials-notification-icon {
          background-color: var(--central-ui-red);
        }

        &:before {
          background-color: var(--central-ui-red);
        }
      }

      &.central-yellow {

        .seo-central-partials-notification-icon {
          background-color: var(--central-ui-gold);
        }

        &:before {
          background-color: var(--central-ui-gold);
        }
      }

      &.icon-alert {
        .seo-central-partials-notification-icon {
          mask-image: url('../../icons/seo-central-alert-icon.svg');
        }
      }

      &.icon-warning {
        .seo-central-partials-notification-icon {
          mask-image: url('../../icons/seo-central-warning-icon.svg') !important;
        }
      }

      &.icon-error {
        .seo-central-partials-notification-icon {
          mask-image: url('../../icons/seo-central-error-icon.svg') !important;
        }
      }

      .seo-central-partials-notification-icon {
        mask-size: contain;
        mask-position: center; 
        background-image: none !important;
      }

      .seo-central-partials-notification {
        @apply max-w-[80%] pr-12px lg:pr-0; 
      }

      .seo-central-button-upgrade.alternate-colors {
        @apply !whitespace-nowrap;
      }
    }

    &-text {
      @apply w-fit h-auto text-gray-8 fs-0 ml-12px;
      font-family: IBM Plex Sans;

      a {
        text-decoration-line: underline;  
      }
    }

    &-icon {
      @apply w-[24px] h-[24px];
      mask-size: contain;
      mask-position: center; 
      background-image: none !important;
    }
  }
}