/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.seo-central-admin-wrapper {
  padding-top: 48px;
  max-width: 960px;
}

.seo-central-admin-wrapper h1 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0 0 2rem;
}

.seo-central-column-wrapper {
  display: flex;
}

.seo-central-column-wrapper .panel-column {
  width: 50%;
}